[submodule "dramhit-incrementer"]
	path = dramhit-incrementer
	url = https://github.com/mars-research/DRAMHiT-incrementer.git
[submodule "chtkc"]
	path = chtkc
	url = https://github.com/mars-research/chtkc.git
	branch = kmer-eval
[submodule "dramhit"]
	path = dramhit
	url = https://github.com/mars-research/DRAMHiT.git
	branch = esys23-ae
